name: Web Deployment

run-name: "Deployment started by @${{ github.actor }}"

on:
  workflow_dispatch:
  push:
    branches: [master]

jobs:
  build-and-deboy:
    name: Build app and deploy to prod
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        
      - uses: actions/setup-node@v3.9.1
        with:
          node-version: 23.11.0 #22.17.0
          cache: npm
        
      - name: Install dependencies
        run: npm ci

      - name: Copy env
        run: echo "${{ vars.ENV_FILE_CONTENT }}" > .env

      - name: Build app
        run: npm run build
  
      - name: Zip Build
        run: zip -r dist.zip dist

      - name: Copying Build to server
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          source: dist.zip
          target: /app
      
      - name: Updating Application
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            set -e
            # The Frontend Updates
            if [[ -d /app/dist ]]; then rm -r /app/dist ; fi;
            unzip /app/dist.zip -d /app
            rm -r /app/dist.zip
            chmod -R 755 dist
            sudo systemctl restart nginx
            
            python3 manage.py makemigrations
            python3 manage.py migrate
            touch tmp/restart.txt
